body[data-theme='red'] #page-links a.active {
    color: #9A0000;
}

body[data-theme='red'] h2 {
    color: #9A0000;
}

body[data-theme='red'] .btn {
    background: #9A0000;
}

body[data-theme='red'] .btn:hover {
    background: #9A0000;
}

body[data-theme='red'] #schedule-controls a.active {
    background-color: #9A0000;
}

body[data-theme='red'] .schedule-tab h3 span,
body[data-theme='red'] .page-caption h3 span {
    color: #9A0000;
}

body[data-theme='red'] a.page-control {
    color: #9A0000;
}

body[data-theme='red'] .favorite {
    color: #9A0000;
}

body[data-theme='red'] .session-everyone {
    border-bottom-color: #9A0000;
}

body[data-theme='red'] #show-full-schedule {
    color: #9A0000;
}

