<!DOCTYPE html>
<html class="no-js" manifest="schedule.appcache">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>German WikiCon 2019 - Programm</title>
    <meta name="description" content="Programm der German WikiCon 2019">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/schedule-app-core/css/schedule.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/schedule-blue.css">
    <link rel="stylesheet" href="css/schedule-green.css">
    <link rel="stylesheet" href="css/schedule-red.css">
    <link rel="icon" type="image/png" sizes="32x32" href="img/wikicon-32px.png">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="img/wikicon-180px.png">
    <!--<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      // replace the 2nd parameter with you UA code, e.g., UA-12345678-1
      // ga('create', 'replace-with-your-UA-code-here', 'auto');
      // ga('send', 'pageview');
    </script>-->
    <script>
      function ga(){return null;}
    </script>
    <script src="vendor/schedule-app-core/js/modernizr.js"></script>
  </head>
  <body data-theme="green">

    <header>
      <nav>
        <div class="container">
          <div class="logo">
            <a href="https://tools.wmflabs.org/germancon-mobile/" target="_blank">
              <img src="img/wikicon.svg" />
            </a>
          </div>
          <div id="page-links"></div>
        </div>
      </nav>
    </header>
      
    <div class="container">
      <div class="main-heading"></div>
      <div class="cache-notice">
        <img src="./vendor/schedule-app-core/img/icon-cache-warning.svg" class="cache-icon">
        <span class="cache-text">Dieses Programm ist offline erhältlich.</span>
      </div>
      <div id="schedule-controls"></div>
      <article id="schedule"></article>
    </div>

    <script type="text/template" id="session-list-template">
    <div id="freitag" class="schedule-tab">
    </div>
    
    <div id="samstag" class="schedule-tab">
    </div>

    <div id="sonntag" class="schedule-tab">
    </div>
    
    </script>

    <!-- template used in tabs other than the search / all sessions tab view -->
    <script type="text/template" id="session-card-template">
    <div id="session-<%= sessionID %>" class="session-list-item<% if (session.category == 'Jeder') { %> session-everyone<% } %>" data-session="<%= sessionID.replace('-ghost','') %>">
      <h4><a href="#_session-<%= sessionID %>"><%= smartypants(session.title) %></a></h4>
      <div>
        <% if (session.start) { %>
        <div class="session-time">
          <% if (session.day) { %><%= session.day %>, <% } %><%= session.start %><% if (session.duration) { %> <em><%= session.duration %></em><% } %>
        </div>
        <% } %>
        <% if (session.location) { %>
        <div class="session-location">
          <% if (session.location) { %><%= smartypants(session.location) %><% } %>
        </div>
        <% } %>
        <% if (showFacilitators && session.facilitators) { %>
        <div class="session-facilitators">
          <%= session.facilitators %>
        </div>
        <% } %>
        <% if (session.category) { %>
        <div class="session-category">
          <% if (session.category) { %><%= session.category %><% } %>
        </div>
        <% } %>
        <% if (session.tags) { %>
        <div class="session-tags">
          <%= session.tags %>
        </div>
        <% } %>
        <% if (session.atelier) { %>
        <div class="session-pc">
          <span class="fa fa-laptop"></span> Computer empfohlen
        </div>
        <% } %>
      </div>
    </div>
    </script>

    <!-- template used in the search / all sessions tab view -->
    <script type="text/template" id="session-list-item-template">
    <div id="session-<%= sessionID %>" class="session-list-item" data-session="<%= sessionID.replace('-ghost','') %>">
      <h4><a href="#_session-<%= sessionID %>"><%= smartypants(session.title) %></a></h4>
      <% if (session.start) { %>
      <div class="session-time">
        <% if (session.day) { %><%= session.day %>, <% } %><%= session.start %><% if (session.duration) { %> <em><%= session.duration %></em><% } %>
      </div>
      <% } %>
      <% if (session.location) { %>
      <div class="session-location">
        <% if (session.location) { %><%= smartypants(session.location) %><% } %>
      </div>
      <% } %>
      <% if (showFacilitators && session.facilitators.length > 0) { %>
      <div class="session-facilitators">
        <%= session.facilitators %>
      </div>
      <% } %>
      <% if (session.category) { %>
      <div class="session-category">
        <% if (session.category) { %><%= session.category %><% } %>
      </div>
      <% } %>
       <% if (session.tags) { %>
      <div class="session-tags">
        <%= session.tags %>
      </div>
      <% } %>
      <% if (session.atelier) { %>
      <div class="session-pc">
        <span class="fa fa-laptop"></span> Computer empfohlen
      </div>
      <% } %>
      <div class="hidden session-description">
      <% if (session.description) { %>
        <%= session.description %>
      <% } %>
      </div>
    </div>
    </script>

    <script type="text/template" id="session-detail-template">
    <div id="session-detail-wrapper">
      <a id="show-full-schedule" href="/">Zurückkehren zum Programm</a>
      <div id="session-detail-<%= session.id %>" class="session-detail" data-session="<%= session.id %>">
        <div class="header">
          <h2><%= smartypants(session.title) %></h2>
        </div>
        <div class="meta">
          <% if (session.location == "Bastille" || session.location == "Denfert-Rochereau" || session.location == "Nation" || session.location == "République" || session.location == "Sorbonne") { %>
          <img class="session-map" src="./img/plan/<%= session.location %>.svg" onclick="toggleMapSize(this);"/>
          <% } %>
          <% if (session.start) { %>
          <div class="session-time">
            <% if (session.day) { %><%= session.day %>, <% } %><%= session.start %><% if (session.duration) { %> <em><%= session.duration %></em><% } %>
          </div>
          <% } %>
          <% if (session.location) { %>
          <div class="session-location">
            <% if (session.location) { %><%= smartypants(session.location) %><% } %>
          </div>
          <% } %>
          <% if (session.facilitators) { %>
          <hr/>
          <% } %>
          <% if (session.facilitators) { %>
          <div class="session-facilitators">
            <% session.facilitator_array.forEach(function(facilitator, index) { %><% if (index > 0) { %>, <br><% } %><%= facilitator.name %><% if (facilitator.twitter) { %> <a href="https://twitter.com/<%= facilitator.twitter %>"><%= facilitator.twitter %></a><% } %><% if (facilitator.description.length>0) { %>, <%= facilitator.description %><% } %><% }) %>
          </div>
          <% } %>
          <% if (session.tags || session.category) { %>
          <hr/>
          <% } %>
          <% if (session.category) { %>
          <div class="session-category">
            <% if (session.category) { %><a href="#_<%= customCategoryLabel %>-<%= slugify(session.category) %>"><%= session.category %></a><% } %>
          </div>
          <% } %>
          <% if (session.tags && session.tagArray.length) { %>
          <div class="session-tags">
            <% session.tagArray.forEach(function(name, index) { %><% if (index > 0) { %>, <% } %>
              <a href="#_<%= customTagLabel %>-<%= slugify(name) %>"><%= name %></a><% }) %>
          </div>
          <% } %>
          <% if (session.atelier) { %>
          <div class="session-pc">
            <span class="fa fa-laptop"></span> Computer empfohlen
          </div>
          <% } %>
          <% if (session.link || session.category != 'Jeder') { %>
          <hr/>
          <% } %>
          <% if (session.link) { %>
          <div class="session-url">
            <% if (session.link) { %><a href="<%= session.link %>" target="_blank">Mehr sehen</a><% } %>
          </div>
          <% } %>
          <% if (session.slides) { %>
          <hr/>
          <div class="session-slides">
            <%= session.slides %>
          </div>
          <% } %>
          <% if (session.streaming) { %>
          <hr/>
          <div class="session-streaming">
            <%= session.streaming %>
          </div>
          <% } %>
          <% if (session.video) { %>
          <hr/>
          <div class="session-video">
            <%= session.video %>
          </div>
          <% } %>
          <% if (session.nextSessionID) { %>
          <hr/>
          <div class="session-next-session">
            <% if (session.nextSessionID) { %>Nächste session : <a href="#_session-<%= session.nextSessionID %>"><%= session.nextSessionTitle %></a><% } %>
          </div>
          <% } %>
        </div>
        <% if (session.description) { %>
        <div class="session-description">
          <%= session.description %>
        </div>
        <% } %>
        <% if (session.category != 'Jeder' && session.id) { %>
        <!--<div class="session-footer">
          <a href="https://etherpad.wikimedia.org/p/WikidataCon2019_<%= session.id %>" target="_blank" class="btn">Notes</a>
        </div>--->
        <% } %>
      </div>
    </div>
    </script>

    <!-- template used in [categories] list view -->
    <script type="text/template" id="categories-list-template">
      <div class="category-list-item" data-category="<%= category.slugify(category.name) %>">
        <div class="category-icon-container">
          <% if (category.iconSrc) { %><img src=<%= category.iconSrc %>><% } %>
        </div>
        <h4><%= category.name %></h4>
        <div>
          <a class="see-all-events-in-this-category" href="#_<%= customCategoryLabel %>-<%= category.slugify(category.name) %>">Alle Sessionen in diesem <%= customCategoryLabel %> anziegen</a>
          <% category.description.forEach(function(p) { %>
            <%= marked(p) %>
          <% }) %>
        </div>
      </div>
    </script>

    <!-- template used in [tags] list view -->
    <script type="text/template" id="tags-list-template">
      <% if (name) { %>
      <div class="tag-list-item" data-tag="<%= slugify(name) %>">
        <h4><a href="#_<%= customTagLabel %>-<%= slugify(name) %>"><%= name %></a></h4>
        <p><%= numSessions %> session<% if (numSessions>1) { %>s<% } %></p>
        <% if (description.length) { %><% description.forEach(function(p) { %>
          <%= marked(p) %>
        <% }) %><% } %>
      </div>
      <% } %>
    </script>

    <script src="vendor/schedule-app-core/js/jquery-2.1.0.min.js"></script>
    <script src="vendor/schedule-app-core/js/underscore-min.js"></script>
    <script src="vendor/schedule-app-core/js/marked.min.js"></script>
    <script src="vendor/schedule-app-core/js/schedule.js"></script>
    <script>
      var customConfig = {
        mainHeaderText: "German WikiCon 2019 Programm",
        subHeaderText: "Programm von Sessionen und Workshops",
        displayNameForCategory: {
          singular:'Thema', // this can only be one word
          plural: 'Themen' // this can only be one word
        },
        displayNameForTag: {
          singular:'Schlüsselwort', // this can only be one word
          plural: 'Schlüsselworter' // this can only be one word
        },
        pathToSessionsJson: 'sessions.json',
        pathToCategoriesJson: 'themes.json',
        pathToTagsJson: 'tags.json',
        localStoragePrefix: 'iron-chef',
        tabList: [
          { name: 'Freitag', displayName: 'Fre', tabDate: new Date(2019,10,4) },
          { name: 'Samstag', displayName: 'Sam', tabDate: new Date(2019,10,5) },
          { name: 'Sonntag', displayName: 'Son', tabDate: new Date(2019,10,6) },
          { name: 'All', displayName: '<i class="fa fa-search"></i>' }
        ],
        additionalNavItems: [
          {
            label: "Hauptseite",
            link: "https://de.wikipedia.org/wiki/Wikipedia:WikiCon_2019",
            id: "home"
          },
          {
            label: "Friendly space policy",
            link: "https://de.wikipedia.org/wiki/Wikipedia:WikiCon_2019/Regeln",
            id: "fsp"
          }
        ]
      };
      // instantiate the app
      new Schedule(customConfig);
    </script>
    <script src="js/script.js"></script>
  </body>
</html>
